
.terraform/
terraform.tfstate.d/
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash & overrides
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plans & plan JSON
*.tfplan
**/plan.tfplan
**/plan.json

# Sensitive / local config
*.tfvars
*.tfvars.json
backend.private.tf
*.pem
*.key
*.env


policies-as-code/opa-wip/


.vscode/
.idea/
.DS_Store
*.zip

terraform-aws-security-multi-account/
